<div class="profile d-flex flex-column align-items-center">
  <%= image_tag "demo_user.png", class: 'avatar-large shadow' %>
  <%# <div class="text-decoration-underline my-2">
    <%= link_to "Edit", "#", class: 'edit-link' %>
  <%# </div> %>
  <div class="buttons my-5 justify-content-center">
    <div><%= link_to "My items", my_items_path, class: "button" %></div>
  </div>
  <div class="requests">
    <div class="heading">
      <h5>requested items</h5>
    </div>
    <!-- Cards-->
          <div class="cards items my-4" id="cards-items">
            <% @items.each do |item| %>
              <%= link_to item_path(item), class: "text-decoration-none" do%>
                <div class="card-product <%= 'gray' if (item.donated? || item.reserved?) %>">
                  <div class="image">
                    <%= cl_image_tag item.photos.first.key, class: "img" %>
                  </div>

                  <div class="card-product-infos">
                    <h2><%= item.name.capitalize %></h2>
                    <% if item.donated? %>
                      <h3>This item was donated.</h3>
                    <% elsif item.reserved? %>
                      <h3>This item is reserved.</h3>
                    <% else %>
                      <h3><%= truncate(item.description, :length => 61) %></h3>
                    <% end %>
                    <h3><%= "#{@distances_between_other_users[item.user.id]} km" %></h3>
                    <p><i class="fas fa-map-marker-alt"></i>&nbsp<%= item.user.address %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
  </div>

  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "logout" %>
</div>
