<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">
  <%# 4 icons + one collapse button in the navbar %>
  <div class="container-fluid">
    <%# add class container inside link, which includes icon %>
    <%# each container should be of width 20% %>
    <%# border color as bar; background %>
    <%= active_link_to items_path, active: :exact, class: "nav-item-container" do %>
      <i class="fas fa-search"></i>
    <% end %>
    <%= active_link_to new_item_path, active: :exact, class: "nav-item-container" do %>
      <i class="far fa-plus-square"></i>
    <% end %>
    <%= active_link_to requests_path, active: :exact, class: "nav-item-container" do %>
      <i class="far fa-comment"></i>
    <% end %>
    <%= active_link_to my_favorites_path, active: :exact, class: "nav-item-container" do %>
      <i class="far fa-heart"></i>
    <% end %>
    <%= active_link_to my_profile_path, active: :exact, class: "nav-item-container" do %>
      <i class="far fa-user"></i>
    <% end %>
  </div>
</div>
