<div class="requests">
  <div class="heading">
    <h5>Messages</h5>
  </div>
  <div class="container my-3">
    <% @requests.each do |request| %>
      <%= link_to request_path(request) do %>
        <div class="request-card ripple">
          <%= image_tag "ingredients/cucumber_two.jpg", class: "img" %>
          <div class="details">
            <% if current_user == request.receiver %>
              <span><%= request.giver.username %></span>
            <% elsif current_user == request.giver %>
              <span><%= request.receiver.username %></span>
            <% end %>
            <strong><%= request.item.name %></strong>
            <% if current_user == request.messages.last.user %>
              <em>You: <%= request.messages.last.content %></span>
            <% else %>
              <em><%= request.messages.last.content %></em>
            <% end %>
          </div>
          <div class="message-time">
            <% if request.messages.last.created_at > 6.days.from_now %>
              <%= request.messages.last.created_at.strftime("%D") %>
            <% elsif request.messages.last.created_at > 1.day.from_now %>
              <%= request.messages.last.created_at.strftime("%a") %>
            <% else %>
              Today
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
