<div class="back-btn-container">
  <div class="back-btn">
    <%= link_to items_path do %>
      <i class="fas fa-long-arrow-alt-left" aria-hidden="true" target="_blank"></i>
    <% end %>
  </div>
  <p>Back to listing</p>
</div>

<div class="requests">
  <div class="heading">
    <h5>My Messages</h5>
  </div>
  <div class="container my-4">
    <%# if @requests is empty, "You don't have any requests." Show the requests otherwise. %>
    <% if @requests.nil? || @requests.all? { |r| r.messages.last.nil? } %>
      <em>You don't have any requests to date.</em>
    <% else %>
      <% @requests.each do |request| %>
        <% unless request.messages.last.nil? %>
          <%= link_to request_path(request) do %>
            <%# each request is a flex card %>
            <div class="ripple shadow request-card <%= ('donated' if item.donated?) || ('reserved' if item.reserved?) %>">
              <%# image is the first div %>
              <div class="image">
                <%= cl_image_tag request.item.photos.first.key, class: "img" %>
              </div>
              <%# details is the second div %>
              <div class="details">
                <% if current_user == request.receiver %>
                  <span><%= request.giver.username %></span>
                <% elsif current_user == request.giver %>
                  <span><%= request.receiver.username %></span>
                <% end %>
                <strong><%= request.item.name.capitalize %></strong>
                <% if request.item.donated? %>
                  <em>This item was donated.</em>
                <% elsif request.item.reserved? %>
                  <em>This item is reserved.</em>
                <% else %>
                  <%# only part of the message is previewed if it's too long %>
                  <% if current_user == request.messages.last.user %>
                    <em>You: <%= truncate(request.messages.last.content, length: 24) %></em>
                  <% else %>
                    <em><%= truncate(request.messages.last.content, length: 28) %></em>
                  <% end %>
                <% end %>
              </div>
              <%# last message's received time is the third div %>
              <div class="message-time">
                <% if request.messages.last.created_at > 6.days.from_now %>
                  <%= request.messages.last.created_at.strftime("%D") %>
                <% elsif request.messages.last.created_at > 1.day.from_now %>
                  <%= request.messages.last.created_at.strftime("%a") %>
                <% else %>
                  Today
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
