<div class="back-btn-container">
  <div class="back-btn">
    <%= link_to items_path do %>
      <i class="fas fa-long-arrow-alt-left" aria-hidden="true" target="_blank"></i>
    <% end %>
  </div>
  <p>Back to listing</p>
</div>

<div class="my-favorites">
  <div class="heading">
    <h5>My Favorites</h5>
  </div>
  <div class="container my-4">
    <div class="cards items" id="cards-items">
      <% if @my_favorites.empty? %>
        <em>You don't have any favorite items.</em>
      <% else %>
        <% @my_favorites.each do |fav| %>
          <% item = Item.find(fav.favoritable_id) %>
          <%= link_to item_path(item), class: "text-decoration-none" do%>

            <div class="card-product <%= 'gray' if (item.donated? || item.reserved?) %>">
                <%# hardcoded image for item %>
                <div class="image">
                  <%= cl_image_tag item.photos.first.key, class: "img" %>
                </div>

              <div class="card-product-infos">
                <h2><%= item.name.capitalize %></h2>
                <% if item.donated? %>
                  <h3>This item was donated.</h3>
                  <h3><%= @distances_between_other_users[item.user.id] %> km</h3>
                <% elsif item.reserved? %>
                  <h3>This item is reserved.</h3>
                  <h3><%= @distances_between_other_users[item.user.id] %> km</h3>
                <% else %>
                  <h3><%= truncate(item.description, :length => 61) %></h3>
                  <h3><%= @distances_between_other_users[item.user.id] %> km</h3>
                <% end %>
                <p><i class="fas fa-map-marker-alt"></i> <%= item.user.address %></p>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
