<div class="items-page-container" data-controller="postal-code">
  <!-- Landing page popup -->
  <div class="initial-screen" data-postal-code-target="popup">
    <div class="image-banner"></div>
    <div class="title-banner">
        <h1 style="color:#814B67">Food4<span><strong>All</strong></span></h1>
    </div>

    <div class="white-banner-container">
      <div class="white-banner">
        <p>Too much food? Share it.</p>
      </div>
    </div>

   <div class="modal-popup-container input-group mb-3" id="popup-container">
      <form name="postal_form" data-remote="true" data-action="submit->postal-code#submitForm" data-postal-code-target="submit">
        <%# <span class="closebtnpopup" data-action="click->postal-code#closeBtnPopup">&times;</span> %>
        <label for="postal_code"></label>
        <input class="form-control" type="text" id="postal_code" name="postal_code" value="<%= params[:postal_code] %>" data-postal-code-target="input" placeholder="Enter your zip code...">
        <button name="button" id="btn" type="submit" class="btn btn-flat">Submit</button>
      </form>
    </div>
  </div>


  <!-- PLEASE DONT DELETE THIS DIV-->
  <%# <form class="absolute d-none">
        <label for="postal_code">Enter your postal code: </label>
        <input type="text" id="postal_code" name="postal_code" value="< params[:postal_code] >" placeholder="Type something">
        <button name="button" id="btn" type="submit">Submit</button>
  </form> %>
  <!-- KEEP THE DIV ABOVE-->

  <!-- Navbar to switch tab -->
  <div class="navbar-container">
    <nav>
      <div class="nav nav-tabs tabs-underlined" id="nav-tab" role="tablist">
        <button class="nav-link tab-underlined active" id="nav-see-items-tab" data-bs-toggle="tab" data-bs-target="#nav-see-items" type="button" role="tab" aria-controls="nav-see-items" aria-selected="true">List food</button>
        <button class="nav-link tab-underlined" id="nav-see-map-tab" data-bs-toggle="tab" data-bs-target="#nav-see-map" type="button" role="tab" aria-controls="nav-see-map" aria-selected="false">Items on map</button>
      </div>
    </nav>
  </div>
  <!-- Covid notices-->
  <div class="special-alert-container">
    <div class="special-alert alert-success" role="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <h4 class="alert-heading">How to share safely during COVID-19?</h4>
      <hr>
      <p class="mb-0"><ul>
        <li>Consider wearing a mask</li>
        <li>Stay at home if you think you present symptoms</li>
        <li>Wash and sanitize your hands regularly</li>
      </ul></p>
    </div>
  </div>

  <!-- Search form-->
  <form>
    <div class="search-form-control form-group">
      <input class="form-control string required" name="query" id="query" value="<%= params[:query] %>" placeholder="What are you looking for?">
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>


  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-see-map" role="tabpanel" aria-labelledby="nav-see-map-tab">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-see-map" role="tabpanel" aria-labelledby="nav-see-map-tab">
        <br>
          <!-- Geocoder-->
          <div id="map" style="width: 100%; height: 300px;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade show active" id="nav-see-items" role="tabpanel" aria-labelledby="nav-see-items-tab">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-see-items" role="tabpanel" aria-labelledby="nav-see-items-tab">
        <br>
          <!-- Cards-->
          <div class="cards items" id="cards-items" data-postal-code-target="items">
            <% @items.each do |item| %>
              <%= link_to item_path(item), class: "text-decoration-none" do%>
                <div class="card-product">
                  <% if item.photos.attached? %>
                    <%= cl_image_tag item.photos.first.key, width: "100%", height: 400 %>
                  <% else %>
                    <img src="https://images.unsplash.com/photo-1554136383-fa88b2d86aaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="" width = 100% height = 400>
                  <% end %>

                  <div class="card-product-infos">
                    <h2><%= item.name.capitalize %></h2>
                    <h3><%= truncate(item.description, :length => 93) %></h3>
                    <h3><%= "#{@distances_between_other_users[item.user.id]} km" %></h3>
                    <p><i class="fas fa-map-marker-alt"></i>&nbsp<%= item.user.address %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
