<div class="back-btn-container">
  <div class="back-btn">
    <%= link_to my_profile_path do %>
      <i class="fas fa-long-arrow-alt-left" aria-hidden="true" target="_blank"></i>
    <% end %>
  </div>
  <p>Back to My Profile</p>
</div>
<div class="my-items">
  <div class="heading">
    <nav>
      <div class="nav nav-tabs tabs-underlined d-flex justify-content-center" id="nav-tab" role="tablist">
        <button class="nav-link tab-underlined active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Available</button>
        <button class="nav-link tab-underlined" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reserved</button>
        <button class="nav-link tab-underlined" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Donated</button>
      </div>
    </nav>
  </div>
  <div class="container my-4">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <% if @my_available_items.empty? %>
          <em>You don't have any available items.</em>
        <% else %>
          <div class="cards items pb-4" id="cards-items">
            <% @my_available_items.each do |item| %>
              <div class="card-product">
                <%= link_to item_path(item), class: "text-decoration-none" do %>
                  <div class="image">
                    <%= cl_image_tag item.photos.first.key, class: "img" %>
                  </div>
                <% end %>

                <div class="card-product-infos">
                  <h2><%= item.name.capitalize %></h2>
                  <h3><%= truncate(item.description, :length => 30) %></h3>
                  <%# removed the address because all my items have the same address (unimportant) %>
                  <%# <p><i class="fas fa-map-marker-alt"></i>&nbsp<%= item.user.address %>
                  <%# added button here to change status %>
                  <div class="status-form mt-2">
                    <%= simple_form_for item do |f| %>
                      <%= f.select :status, Status: Item.statuses.keys %>
                      <%= f.submit 'Update', class: 'button' %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <% if @my_reserved_items.empty? %>
          <em>You don't have any reserved items.</em>
        <% else %>
          <div class="cards items pb-4" id="cards-items">

            <% @my_reserved_items.each do |item| %>
              <div class="card-product">
                <%= link_to item_path(item), class: "text-decoration-none" do %>
                  <div class="image">
                    <%= cl_image_tag item.photos.first.key, class: "img" %>
                  </div>
                <% end %>

                <div class="card-product-infos">
                  <h2><%= item.name.capitalize %></h2>
                  <h3><%= truncate(item.description, :length => 30) %></h3>
                  <%# removed the address because all my items have the same address (unimportant) %>
                  <%# <p><i class="fas fa-map-marker-alt"></i>&nbsp<%= item.user.address %>
                  <%# added button here to change status %>
                  <div class="status-form mt-2">
                    <%= simple_form_for item do |f| %>
                      <%= f.select :status, Status: Item.statuses.keys %>
                      <%= f.submit 'Update', class: 'button' %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <% if @my_donated_items.empty? %>
          <em>You don't have any donated items.</em>
        <% else %>
          <div class="cards items pb-4" id="cards-items">

            <% @my_donated_items.each do |item| %>
              <div class="card-product">
                <%= link_to item_path(item), class: "text-decoration-none" do %>
                  <div class="image">
                    <%= cl_image_tag item.photos.first.key, class: "img" %>
                  </div>
                <% end %>

                <div class="card-product-infos">
                  <h2><%= item.name.capitalize %></h2>
                  <h3><%= truncate(item.description, :length => 30) %></h3>
                  <%# removed the address because all my items have the same address (unimportant) %>
                  <%# <p><i class="fas fa-map-marker-alt"></i>&nbsp<%= item.user.address %>
                  <%# added button here to change status %>
                  <div class="status-form mt-2">
                    <%= simple_form_for item do |f| %>
                      <%= f.select :status, Status: Item.statuses.keys %>
                      <%= f.submit 'Update', class: 'button' %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
