  <div
  class="container-carousel"
  data-controller="toggle-favorite"
  >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class=carousel-inner>

        <div class="carousel-item active">
          <img class="d-block w-100">
            <% @item.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 400, width: 400 %>
          <% end %>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940" alt="Second slide">
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770" alt="Third slide">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="d-flex">
      <p class="distance"># km away</p>

      <div class="social-media">
        <p class="distance"># km away</p>
        <div class="d-flex">
          <div data-action="click->toggle-favorite#red" data-toggle-favorite-target="icon">
            <%= link_to toggle_favorite_item_path(@item), remote: true, method: :post do %>
              <i class="fas fa-heart <%= 'red' if current_user.favorited?(@item) %>"></i>
            <% end %>
          </div>
          <%# commented out 'share' button because we don't have the share function (yet) %>
          <%# <a href="#"><i class="fas fa-share-alt"></i></a> %>
        </div>
      </div>
    </div>

    <div class="availability">
      <%= @item.status.capitalize %>
    </div>
  </div>

  <br>

  <div class="container-detail">

    <div class="card-user">
      <% if @item.user == User.first %>
        <%= image_tag "demo_user.png", class: "avatar" %>
      <% else %>
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      <% end %>

    </div>
      <div class="card-description">
        <p class="username"><%= @item.user.username.capitalize %> is giving away</p>
        <p class="item-name"> <%= @item.name.capitalize %></p>
        <h6><i class="fas fa-clock"></i>&nbsp Added on <%= @item.created_at.strftime("%b %e") %>&nbsp; &nbsp; &nbsp;<i class="fas fa-stopwatch"></i> &nbsp       Expiration date on <%= @item.expiration_date.strftime("%b %e") %></h6>
      </div>

      <div class="details">
        <h6><strong>Description</strong></h6>
        <%= @item.description %>

        <% @diets.each do |diet| %>
          <p><i class="fab fa-envira"></i>&nbsp<%= diet.name.capitalize %></p>
        <% end %>

        <% @allergens.each do |allergen| %>
          <p><i class="fas fa-ban"></i>&nbsp <%= allergen.name.capitalize %></p>
        <% end %>
      </div>
  </div>

  <div class="card-category"
      id="map"
      style="width: 100%;
      height: 400px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      >
  </div>

  <br>

  <div>
    <%# owner cannot request for his/her own items. %>
    <% if @item.user == current_user %>
      <em>You cannot book your own items.</em>
    <% else %>
      <%# button to link to request; using our own .button class %>
      <% if Request.find_by(item_id: @item.id, receiver_id: current_user.id, giver_id: @item.user.id) %>
        <div class="button reserve">
          <%= link_to "Back to chat", request_path(@request) %>
        </div>
      <% else %>
        <%= simple_form_for @request do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.submit "Send message", class: "button reserve" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <br>

  <div>
    <%= link_to "Back", items_path, class:"btn" %>
  </div>
