<div class="back-btn-container">
  <div class="back-btn">
    <%= link_to items_path do %>
      <i class="fas fa-long-arrow-alt-left" aria-hidden="true" target="_blank"></i>
    <% end %>
  </div>

  <p class="item-name"> <%= @item.name.capitalize %></p>
</div>

<div class="container-carousel" >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <% @item.photos.each_with_index do |photo, index| %>
        <% if index == 0 %>
        <div class="carousel-item active">
            <%= cl_image_tag photo.key, class:"expand", height: 400, width: "100%" %>
        </div>
        <% else %>
        <div class="carousel-item">
            <%= cl_image_tag photo.key, class:"expand", height: 400, width: "100%"  %>
        </div>
          <% end  %>
        <% end  %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="d-flex">
      <%# <p class="distance"># km away</p> %>

      <div class="social-media" data-controller="toggle-favorite">
        <p class="distance"># km away</p>
        <div class="d-flex">
          <div data-action="click->toggle-favorite#red" data-toggle-favorite-target="icon">
            <%= link_to toggle_favorite_item_path(@item), remote: true, method: :post do %>
              <i class="fas fa-heart <%= 'red' if current_user.favorited?(@item) %>"favorite_border></i>
            <% end %>
          </div>
          <%# commented out 'share' button because we don't have the share function (yet) %>
          <%# <a href="#"><i class="fas fa-share-alt"></i></a> %>
        </div>
      </div>
    </div>

    <div class="availability">
      <%= @item.status.capitalize %>
    </div>
</div>

<br>

<div class="container-detail">
  <div class="shadow">

    <div class="card-user">
      <% if @item.user == User.first %>
        <%= image_tag "demo_user.png", class: "avatar" %>
      <% else %>
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      <% end %>
      <div class="card-description">
        <p class="username"><%= @item.user.username.capitalize %> is giving away</p>
        <p class="item-name"> <strong><%= @item.name.capitalize %></strong></p>
        <h6><i class="fas fa-clock"></i>&nbsp Added on <%= @item.created_at.strftime("%b %e") %>&nbsp; &nbsp; &nbsp;<i class="fas fa-stopwatch"></i> &nbsp       Expiration date on <%= @item.expiration_date.strftime("%b %e") %></h6>
      </div>
    </div>

    <div class="details">
        <h6><strong>Description</strong></h6>
        <%= @item.description.capitalize %>

      <% unless @diets.nil? %>
        <% @allergens.each do |allergen| %>
          <p><i class="fas fa-exclamation-triangle"></i></i>&nbsp<%= allergen.name.capitalize %></li></p>
        <% end %>
      <% end %>
      <% unless @diets.nil? %>
        <% @diets.each do |diet| %>
         <p><i class="fab fa-envira"></i>&nbsp<%= diet.name.capitalize %></li></p>
        <% end %>
      <% end %>

    </ul>
  </div>

    <div class="card-category"
        id="map"
        style="width: 100%;
        height: 400px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        >
    </div>

</div>


</div>
  <%# owner cannot request for his/her own items. %>
  <% if @item.user == current_user %>
    <em>You cannot book your own items.</em>
  <% else %>
    <%# button to link to request; using our own .button class %>
    <% if Request.find_by(item_id: @item.id, receiver_id: current_user.id, giver_id: @item.user.id) %>
      <div class="button reserve">
        <%= link_to "Back to chat", request_path(@request) %>
      </div>
    <% else %>
      <%= simple_form_for @request do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.submit "Send message", class: "button reserve" %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <br>
</div>
