<!DOCTYPE html>
<html>
  <head>
    <title>Food4All</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'map_icon.png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
    <%# app-container just for Requests#index page %>
    <%# Page heading needs 100% width %>
      <% if params[:controller] == "requests" && params[:action] == "index" ||
      params[:controller] == "pages" && params[:action] == "my_favorites" ||
      params[:controller] == "items" && params[:action] == "my_items" ||
      params[:controller] == "items" && params[:action] == "new"
      %>
        <div class="app-container requests">
          <%= render '/shared/navbar' %>
          <div class="page-content">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%# normal app-container for all other pages %>
        <div class="app-container">
          <%= render '/shared/navbar' %>
          <div class="page-content">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <%= yield %>
          </div>
        </div>
      <% end %>
    <% else %>

    <!-- Landing page -->
    <div class = banner-container>
      <div class="image-banner"></div>
      <div class="title-banner">
          <h1 style="color:#814B67">Food4<span><strong>All</strong></span></h1>
        </div>
    </div>

      <div class="white-banner-container">
        <div class="white-banner">
          <p>Too much food? Share it.</p>
        </div>
      </div>

      <div class="modal-popup-container input-group mb-3" id="popup-container" data-controller="postal-code" data-postal-code-target="popup">
        <div class="modal-popup">
          <form name="postal_form" data-remote="true" data-action="submit->postal-code#submitForm" data-postal-code-target="submit">
            <%# <span class="closebtnpopup" data-action="click->postal-code#closeBtnPopup">&times;</span> %>
            <label for="postal_code"></label>
            <input class="form-control" type="text" id="postal_code" name="postal_code" value="<%= params[:postal_code] %>" data-postal-code-target="input" placeholder="Enter your zip code...">
            <button name="button" id="btn" type="submit" class="btn btn-flat">Submit</button>
          </form>
        </div>
      </div>
    <% end %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
